{% extends 'base.html.twig' %}

{% block body %}
    {% if tasks %}
        <ul class="tasks_list">
            {% for task in tasks %}
                <li>{{ task.name }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}