{% extends 'base.html.twig' %}

{% block body %}
    {% if tasks %}
        <ul class="tasks_list">
            {% for task in tasks %}
                <li><a href="{{ path('task.view', {id : task.id}) }}">{{ task.name }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}