{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        {% if tasks %}
            {% for task in tasks %}
                <h3><a href="{{ path('task.view', {id : task.id}) }}">{{ task.name }}</a></h3>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}