<table class="table-bordered col-md-6 matrix">
    <tr>
        <td></td>
        {% for i in 1..(matrix|length) %}
            <td>
                F {{ i }}
            </td>
        {% endfor %}
    </tr>
    {% for row in matrix %}
        <tr>
            <td>
                E {{ loop.index }}
            </td>
            {% for value in row %}
                <td>{{ value }}</td>
            {% endfor %}
        </tr>
    {% endfor %}
</table>

<style>
    .matrix td{
        padding: 10px;
    }
</style>