{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        {{ dump(task.variants.toArray) }}
        {{ dump(task.criteria.toArray) }}
    </div>
{% endblock %}

{% block javascripts %}

{% endblock %}

