{% extends 'base.html.twig' %}


{% block body %}
    <a href="{{ path('homepage') }}">Главная</a>

    {% block form %}
        {% include '@App/MethodDecisionMaking/matrix_form.html.twig' with {'matrix': matrixModel, 'method': method} %}
    {% endblock %}

{% endblock body %}

