{% extends '@App/MethodDecisionMaking/baseMethod.html.twig' %}

{% block body %}

    <a href="{{ path('homepage') }}">Главная</a>

    {% if solution.solution %}
        <p>Решение: {{ solution.solution|raw }}</p>
    {% elseif solution.error %}
        <p>Ошибка - {{ solution.error }}</p>
    {% endif %}

    {% block form %}
        {% include '@App/MethodDecisionMaking/matrix_form.html.twig' with {'matrixModel': solution.matrixModel, 'method': method} %}
    {% endblock %}

{% endblock %}

