{% extends '@App/MethodDecisionMaking/baseMethod.html.twig' %}

{% block body %}
    {% if solution.solution %}
        <p>Решение: {{ solution.solution|raw }}</p>
    {% elseif solution.error %}
        <p>Ошибка - {{ solution.error }}</p>
    {% endif %}

{% endblock %}

