{% extends '@App/MethodDecisionMaking/baseMethod.html.twig' %}

{% block form %}
    <div id="matrix-form">
        <form action="{{ path('method.get-solution') }}" method="post">
            <input type="hidden" name="method" value="{{ method }}">
            <div class="row">
                {% include '@App/MethodDecisionMaking/matrix.html.twig' with {'matrix': matrixModel} %}
            </div>
            <input type="submit" value="Найти решение">
        </form>
    </div>
{% endblock %}