{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-4">
            <p>Перейти к списку задача</p>
            <a href="{{ path('task.list') }}" class="btn btn-lg btn-info">Список задач</a>
        </div>
        <div class="col-md-8">
            <p>
                Или можно создать новую задачу на принятие решения
            </p>
            <a href="{{ path('task.new') }}" class="btn btn-lg btn-info">Новая задача</a>
        </div>
    </div>
{% endblock %}
